################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chat-app/ChatAppApi/.vs/ChatAppApi/v17
